@font-face {
    font-family: 'InterBlack';
    src: url('./../assets/fonts/Inter-Black.ttf');
}

@font-face {
    font-family: 'InterRegular';
    src: url('./../assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'InterBold';
    src: url('./../assets/fonts/Inter-Bold.ttf');
}

h5 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color:#222834;
    line-height: 20px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'InterBold';
}