.form{
    position: fixed;
    padding: 1rem;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    transform: translate(-50%, -50%);
}

.form.active{
    opacity:1;
    pointer-events: all;
}
.h3{
    margin: 1.5rem 0 1.5rem 0;
}
.form-control{
  
}



